<div class="login-page-container">
  <div class="login-header-container">
    <img class="login-logo" src="../../../assets/elemental-logo-white.png" alt="elemental-logo" />
    <div class="login-slogan">
      Интерактивна онлайн телевизия за българи в чужбина.
    </div>
  </div>
  <form class="login-form-container" [formGroup]="loginForm" (ngSubmit)="setUserCredentials()">
    <div class="inside-login-form-container">
      <div class="login-form-header">
        <label class="login-label">Вход</label>
        <div class="divider"></div>
        <p class="form-info-heading">Вход със съществуващ акаунт</p>
        <p *ngIf="isFormInvalid" class="danger">Грешна парола или имейл</p>
      </div>
      <div class="login-form-body">
        <div class="form-email-input">
          <label class="input-label">Имейл</label>
          <input 
          class="input-field" 
          type="text" 
          formControlName="email"
          [ngClass]="{'is-invalid' : validateCredentials('email')}"
          placeholder="ivaylo.rashevski@scalefocus.com" />
        </div>
        <div class="form-password-input">
          <label class="input-label">Парола</label>
          <input 
          class="input-field" 
          type="password" 
          formControlName="password"
          [ngClass]="{'is-invalid' : validateCredentials('password')}"
          placeholder="password" />
        </div>
      </div>
      <div class="login-form-remember">
        <label class="checkbox-container">
          <input formControlName="rememberme" type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="remember-label">Запомни ме</label>
      </div>
      <button class="login-btn" type="submit" [disabled]="loginForm.invalid" >ВХОД</button>
      <a class="login-reset-password">Забравена парола?</a>
    </div>
  </form>
  <div class="login-footer-container">
    <div class="go-back-container">
      <a class="footer-info-label" href="#">
        &#60; НАЗАД
      </a>
    </div>
    <div class="footer-info-container">
      <div class="info-inside-container">
        <img class="footer-icon" src="../../../assets/baseline_help_outline_white_18dp.png" alt="help-icon" />
        <a class="footer-info-label" href="#">
          Помощ &nbsp; &nbsp; &#124;
        </a>
      </div>
      <div class="info-inside-container">
        <img class="footer-icon" src="../../../assets/baseline_info_white_18dp.png" alt="info-icon" />
        <a class="footer-info-label" href="#">
          Общи условия &nbsp; &nbsp; &#124;
        </a>
      </div>
      <div class="info-inside-container">
        <img class="footer-icon" src="../../../assets/baseline_mail_outline_white_18dp.png" alt="mail-icon" />       
        <a class="footer-info-label" href="#">
          Пишете ни
        </a>
      </div>
    </div>
  </div>
  <div class="responsive-footer-container">
    <div class="responsive-footer-inside-container">
      <img class="responsive-footer-img" src="../../../assets/baseline_arrow_back_white_18dp.png" alt="backarrow-icon" />
      <a class="responsive-footer-label">Назад</a>
    </div>
    <div class="responsive-footer-inside-container">
      <img class="responsive-footer-img" src="../../../assets/baseline_help_outline_white_18dp.png" alt="help-icon" />
      <a class="responsive-footer-label">Помощ</a>
    </div>
    <div class="responsive-footer-inside-container">
      <img class="responsive-footer-img" src="../../../assets/baseline_info_white_18dp.png"  alt="info-icon" />
      <a class="responsive-footer-label">Общи условия</a>
    </div>
    <div class="responsive-footer-inside-container">
      <img class="responsive-footer-img" src="../../../assets/baseline_mail_outline_white_18dp.png" alt="mail-icon" />
      <a class="responsive-footer-label">Пишете ни</a>
    </div>
  </div>
</div>