@import '../../../global-styles';

.login-page-container {
  display: grid;
  grid-template-rows: 200px 420px auto;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/background-image_2020-03-06/background-image.png') no-repeat center top;
  background-size: cover;
  overflow: hidden;
  user-select: none;
}

.login-header-container {
  display: grid;
  justify-self: center;
  justify-content: center;
  align-self: flex-end;
  grid-template-rows: 60px 21px;
  grid-gap: 14px;
  height: 100px;
  padding-bottom: 43px;
  user-select: none;

  .login-logo {
    justify-self: center;
    width: 100%;
    max-width: 253px;
  }

  .login-slogan {
    justify-self: center;
    width: 100%;
    color: white;
    font-weight: $medium;
    font-size: $secondary-heading-size;
  }
}

.login-form-container {
  justify-self: center;
  align-self: flex-start;
  width: 100%;
  max-width: 255px;
  height: 100%;
  max-height: 322px;
  padding: 43px 68px 43px 68px;
  background-color: white;
  border-radius: 10px;

  .inside-login-form-container {
    display: grid;
    grid-template-rows: 102px 131px 30px 32px 15px;
    width: 100%;
    height: 100%;
  
    .login-form-header {
      display: grid;
      grid-template-rows: 14px 4px 14px;
      grid-gap: 13px;

      .login-label {
        justify-self: center;
        color: $primary-color;
        font-size: $tertiary-heading-size;
        font-weight: $bold;
      }

      .divider {
        justify-self: center;
        width: 100%;
        max-width: 127px;
        height: 100%;
        max-height: 0px;
        border: 1px solid $primary-color;
        background-color: $primary-color;
      }

      .form-info-heading {
        justify-self: start;
        margin: 0;
        color: $subtitle-color;
        font-size: $subtitle-size;
      }
    }

    .login-form-body {
      display: grid;
      grid-template-rows: 41px 31px;
      grid-gap: 24px;

      .form-email-input {
        display: grid;
        grid-template-rows: 8px 24px;
        grid-gap: 9px;
      }

      .form-password-input {
        display: grid;
        grid-template-rows: 8px 24px;
        grid-gap: 9px;
      }
    }

    .login-form-remember {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 11px 77px;
      grid-gap: 0px 8px;

      .remember-label {
        height: 100%;
        max-height: 9px;
        color: $tertiary-color;
        font-size: $hint-primary-size;
      }

      .checkbox-container {
        padding-top: 1px;

        input {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
          &:checked ~ .checkmark {
            background-color: $primary-color;
          }
          &:checked ~ .checkmark::after {
            display: block;
          }
        }

        .checkmark {
          position: absolute;
          width: 11px;
          height: 11px;
          border: 1px solid $primary-color;
          background-color: #eee;
          &::after {
            position: absolute;
            display: none;
            color: white;
            padding-left: 1px;
            font-size: 11px;
            content: "\2713";
          }
        }
      }
    }

    .login-btn {
      padding: 10px 107px 9px 107px;
      color: white;
      font-size: 14px;
      font-weight: $medium;
      border-radius: 2px;
      background-color: $primary-color;
      border: none;
      &:disabled {
       opacity: 0.7;
      }
    }

    .login-reset-password {
      justify-self: center;
      max-width: 143px;
      padding-top: 18px;
      color: $subtitle-color;
      font-size: $subtitle-size;
    }
  }
}

.input-label {
  color: $hint-color;
  font-size: $hint-secondary-size;
}

.input-field {
  color: $tertiary-color;
  font-size: $subtitle-size;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid $divider-color;
  outline: none;
  box-shadow: none;
}

.login-footer-container {
  display: grid;
  align-self: end;
  grid-auto-flow: column;
  grid-template-columns: 854px auto;
  width: 100vw;

  .go-back-container {
    display: grid;
    padding-left: 28px;
  }

  .footer-info-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-template-columns: 107px 171px 115px;
    grid-gap: 25px;
    padding-right: 28px;

    .info-inside-container {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 5px;

      .footer-icon {
        align-self: end;
        width: 15px;
        height: 15px;
        padding-bottom: 25px;
      }
    }
  }
}

.footer-info-label {
  align-self: end;
  padding-bottom: 22px;
  color: $primary-label-color;
  font-size: 16px;
  font-weight: $medium;
  text-decoration: none;
}

.is-invalid {
  border-bottom: 1px solid $error-color;
}

.danger {
  color: $error-color;
  font-size: $hint-secondary-size;
  margin: 0;
}

.responsive-footer-container {
  display: none;
}

@media only screen and (max-width: $large-screen) {
  .login-footer-container {
    grid-template-columns: 534px auto;
  }
}

@media only screen and (max-width: $medium-screen) {
  .login-footer-container {
    grid-template-columns: 278px auto;
  }
}

@media only screen and (max-width: $small-screen) {
  .login-slogan {
    display: none;
  }

  .login-header-container {
    align-self: start;
    grid-template-rows: 60px;
    max-height: 60px;
    padding: 50px 0px 0px;
  }

  .login-page-container {
    grid-template-rows: 162px 405px auto;
  }

  .login-form-container {
    max-width: 300px;
    max-height: 362px;
    padding: 43px 20px 0px;
  }

  .login-footer-container {
    display: none;
  }

  .responsive-footer-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 38px 46px 91px 67px;
    grid-gap: 30px;

    .responsive-footer-inside-container {
      display: grid;
      grid-gap: 7px;
      justify-content: center;
      align-content: center;

      .responsive-footer-img {
        justify-self: center;
        width: 25px;
        height: 25px;
      }

      .responsive-footer-label {
        color: $secondary-label-color;
        font-size: 12px;
      }
    }
  }
}