@import '../../../global-styles';

.live-channel-container {
  display: grid;
  grid-template-columns: 170px 610px 560px 560px;
  height: 100%;
  max-height: 153px;
  background-color: $background-color;
  user-select: none;
  transition: 1s max-height ease;
  transition-delay: 0.5s;
  overflow: hidden;

  &:hover {
    transition-delay: 1s;
    max-height: 360px;

    .show-info, .tv-brand {
      transition-delay: 1.3s;
      opacity: 1;
    }

    .progress-bar {
      transition-delay: 1s;
      opacity: 0.3;
    }
    
    .progress-bar-active {
      transition-delay: 1s;
      opacity: 1;
    }

    .logo-container {
      .logo {
        transition-delay: 1s;
        padding-bottom: 0px;
      }
    }
  }
}

.logo-container {
  display: grid;
  align-content: center;
  height: inherit;
  border: 1px solid $divider-color;

  .logo {
    place-self: center;
    width: 100%;
    padding-bottom: 80px;
    transition: 0.5s padding-bottom ease;
    transition-delay: 0.8s;
  }
}

.player-container {
  position: relative;

  .player {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .status-bar {
    display: block;
    position: absolute;
    bottom: 0;
    height: 6px;
    z-index: 1;
    opacity: 0;
    transition: 1s opacity ease;
    transition-delay: 0.3s;
  }

  .progress-bar {
    width: 100%;
    background-color: black;
  }

  .progress-bar-active {
    background-color: $progress-color;
  }
}

.show-container {
  display: grid;
  grid-template-rows: 13px 35px 17px 106px;
  grid-gap: 12px;
  padding: 45px 0 0 27px;
  border: 1px solid $divider-color;

  .time-gap {
    font-size: 18px;
  }

  .show-title {
    margin: 0;
    font-size: 30px;
  }
}

.show-category {
  font-weight: $bold;
}

.show-info {
  display: block;
  opacity: 0;
  font-size: 18px;
  color: $subtitle-color;
  transition: 0.5s opacity ease;
  transition-delay: 0.5s;
}

.tv-brand {
  display: block;
  place-self: center;
  opacity: 0;
  font-size: 12px;
  transition: 0.5s opacity ease;
  transition-delay: 0.5s;
  text-align: center;
}

.mobile-live-channel-container {
  display: none;
}

@media only screen and (max-width: $large-screen) {
  .live-channel-container {
    grid-template-columns: 95px 321px 608px;
    grid-auto-flow: column;
    height: 100%;
    max-height: 78px;

    &:hover {
      transition-delay: 1s;
      max-height: 187px;

      .logo-container {
        .logo {
          transition-delay: 1.2s;
        }
      }
    }  
  }

  .show-container {
    grid-gap: 6px;
    padding: 19px 105px 0 21px;

    .time-gap, .show-info  {
      font-size: 14px;
    }

    .show-title {
      font-size: 26px;
    }
  }

  .tv-brand {
    font-size: 10px;
  }

  .logo-container {
    .logo {
      padding-bottom: 120px;
      transition: 0.5s padding-bottom ease;
      transition-delay: 0.7s;
    }
  }

  .player-container {
    .status-bar {
      bottom: 23px;
    }
  }
}

@media only screen and (max-width: $medium-screen) {
  .live-channel-container {
    grid-template-columns: 73px 235px 460px;
    grid-auto-flow: column;
    height: 100%;
    max-height: 59px;

    &:hover {
      transition-delay: 1s;
      max-height: 137px;
    }
  }

  .logo-container {
    .logo {
      padding-bottom: 70px;
    }
  }

  .show-container {
    grid-template-rows: 11px 24px 14px 63px;
    grid-gap: 6px;
    padding: 7px 56px 5px 21px;
    border: 1px solid $divider-color;

    .time-gap, .show-info  {
      font-size: 12px;
    }

    .show-title {
      font-size: 24px;
    }
  }

  .player-container {
    .status-bar {
      bottom: 7px;
    }
  }
}

@media only screen and (max-width: $small-screen) {  
  .live-channel-container {
    display: none;
  }

  .mobile-live-channel-container {
    display: block;
    height: 60px;
    transition: 1s height ease;

    &:hover{
      transition-delay: 1s;
      height: 270px;

      .mobile-player-container {
        .mobile-player {
            transition-delay: 1s;
            height: 210px;
        }

        .mobile-progress-bar {
          transition-delay: 1.9s;
          opacity: 0.3;
        }
        
        .mobile-progress-bar-active {
          transition-delay: 1.9s;
          opacity: 1;
        }
      }

      .mobile-tv-container {
        transition-delay: 1s;
        padding-top: 210px;
      }
    } 
  }
  
  .mobile-player-container {
    position: relative;
    max-height: 210px;
    
    .mobile-player {
      position: absolute;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: 1s height ease;
    }

    .mobile-status-bar {
      position: absolute;
      z-index: 1;
      display: block;
      bottom: -210px;
      height: 6px;
      opacity: 0;
      transition: 0s opacity ease;
      transition-delay: 0s;
    }

    .mobile-progress-bar {
      width: 100%;
      background-color: black;
    }
  
    .mobile-progress-bar-active {
      background-color: $progress-color;
    }
  }

  .mobile-tv-container {
    display: grid;
    grid-template-columns: 70px 290px;
    grid-auto-flow: column;
    height: 60px;
    padding-top: 0;
    transition: 1s padding-top ease;
    border: 1px solid $divider-color;
    background-color: $background-color;

    .mobile-logo-container {
      display: grid;
      align-content: center;
    }

    .mobile-show-container {
      padding: 12px 0 9px 0;

      .mobile-show-title {
        font-size: 20px;
        margin: 0;
      }
    }
  }
}