<section class="live-channel-container">
  <div class="logo-container">
    <img class="logo"
      src="{{channelDescription.images.baseURL}}{{channelDescription.images.svgColor}}"
      alt="elemental-channel-logo"
    />
    <label class="tv-brand">
      {{ channelDescription.name }}
    </label>
  </div>
  <div class="player-container">
    <img class="player"
      [src]="(channelDescription.locked && noInfoImg) 
      || channelDescription.tumblrurl + '/latest'"
      alt="elemental-channel-tumblrurl"
    />
    <div class="progress-bar status-bar"></div>
    <div class="progress-bar-active status-bar"
      [style]="{width: showProgress(channelDescription.currentepg.start, channelDescription.currentepg.stop)}"
    >
    </div>
  </div>
  <div class="show-container">
    <label class="time-gap">
      {{ channelDescription.currentepg.start * second | date : timeFormat }} &#8209;
      {{ channelDescription.currentepg.stop * second | date : timeFormat }}
    </label>
    <h2 class="show-title">
      {{ trimContent(channelDescription.currentepg.title, title) }} 
    </h2>
    <label class="show-info show-category">
      {{ channelDescription.currentepg.major_category }}
      &#8226;
      {{ channelDescription.currentepg.minor_categories }}
    </label>
    <div class="show-info">
      {{ trimContent(channelDescription.currentepg.subtitle, subtitle) }} 
    </div>
  </div>
  <div class="show-container">
    <label class="time-gap">
      {{ channelDescription.nextepg.start * second | date : timeFormat }} &#8209;
      {{ channelDescription.nextepg.stop * second | date : timeFormat }}
    </label>
    <h2 class="show-title">
      {{ trimContent(channelDescription.nextepg.title, title) }}
    </h2>
    <label class="show-info show-category">
      {{ channelDescription.nextepg.major_category }}
      &#8226;
      {{ channelDescription.nextepg.minor_categories }}
    </label>
    <div class="show-info">
     {{ trimContent(channelDescription.nextepg.subtitle, subtitle) }} 
    </div>
  </div>
</section>

<!-- mobile responsive  -->

<section class="mobile-live-channel-container">
  <div class="mobile-player-container">
    <img class="mobile-player"
      [src]="(channelDescription.locked && noInfoImg) 
      || channelDescription.tumblrurl + '/latest'"
      alt="elemental-channel-tumblrurl"
    />
    <div class="mobile-progress-bar mobile-status-bar"></div>
    <div class="mobile-progress-bar-active mobile-status-bar"
      [style]="{width: showProgress(channelDescription.currentepg.start, channelDescription.currentepg.stop)}"
    >
    </div>
  </div>
  <div class="mobile-tv-container">
    <div class="mobile-logo-container">
      <img class="mobile-logo"
        src="{{channelDescription.images.baseURL}}{{channelDescription.images.svgColor}}"
        alt="elemental-channel-logo"
      />
    </div>
    <div class="mobile-show-container">
      <label class="mobile-time-gap">
        {{ channelDescription.currentepg.start * second | date : timeFormat }} &#8209;
        {{ channelDescription.currentepg.stop * second | date : timeFormat }}
      </label>
      <h2 class="mobile-show-title">
        {{ trimContent(channelDescription.currentepg.title, responsiveTitle) }} 
      </h2>
    </div>
  </div>
</section>