@import '../../../../global-styles';

.slider {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-content: flex-start;
  overflow-x: auto;
  width: 1595px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  scroll-behavior: smooth;
}

.slider > div {
  flex-shrink: 0;
  width: 208px;
  height: 200px;
}

.divider {
  width: 1595px;
  padding-top: 10px;
  border-bottom: 2px solid $divider-color;
}

.category-title {
  font-size: $secondary-heading-size;
  font-weight: $bold;
  outline: none;

  &:hover {
    cursor: pointer;
    color: $primary-color;
  }
}

.subcategory-title {
  font-size: $tertiary-heading-size;
  font-weight: $bold;
  outline: none;
  text-transform: uppercase;

  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.category-header {
  display: grid;
  grid-auto-flow: column;

  .header-container {
    position: relative;

    .right-arrow {
      position: absolute;
      top: -5px;
      width: 35px;
      height: 30px;
    }
  }

  .record-navigation {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-self: end;

    .record-btn {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $large-screen) {
  .slider {
    width: 911px;
  }
  
  .divider {
    width: 911px;
  }
  
  .category-header {
    width: 911px;
  }
}

@media only screen and (max-width: $small-screen) {
  .slider {
    grid-template-columns: repeat(2, 160px);
    grid-gap: 60px 28px;
    width: 350px;
    padding-bottom: 40px;
    overflow-x: auto;
  }

  .slider > div {
    width: 160px;
    height: 86px;
  }

  .divider {
    width: 350px;
  }

  .category-header {
    width: 350px;
  }
}