<div  class="category-header" *ngIf="showCategory">
  <div class="header-container">
    <span
      *ngIf="!isSubCat"
      class="category-title"
      [routerLink]="['/record/', id]"
      >{{ title }}
    </span>
    <img
      *ngIf="!isSubCat"
      class="right-arrow"
      src="../../../../assets/baseline_keyboard_arrow_right_black_18dp.png"
      alt="arrow-right"
    />
    <span
      *ngIf="isSubCat"
      class="subcategory-title"
      [routerLink]="['/subcategory', subCategoryIdArray[subId], backToRecord]"
    >{{ subtitle }}
    </span>
  </div>
  <div class="record-navigation">
    <img
      class="record-btn"
      src="../../../../assets/ic-arrow-back.png"
      (click)="slide(!forward)"
      alt="arrow-back" 
    />
    <img
      class="record-btn"
      src="../../../../assets/ic-arrow-forward-normal.png"
      (click)="slide(forward)"
      alt="arrow-forward"
    />
  </div>
</div>
<div class="divider"></div>
<div #slider class="slider" *ngIf="showCategory">
  <div *ngFor="let record of categoryRecords" class="category-wrapper">
    <app-record
      [singleCategoryRecord]="record"
    >
    </app-record>
  </div>
</div>
