@import '../../../global-styles.scss';

.filter-wrapper {
  position: relative;
  width: 100%;
  height: 10px;
  transition: height 0.2s ease;
  background-color: $background-color;
  box-shadow: 0px 1px 3px 0 rgba(47, 58, 71, 0.1);
  box-shadow: 0px -1px 3px 0px rgba(47, 58, 71, 0.1);
  user-select: none;

  .filters-label {
    display: none;
  }
  .filter-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(12, auto);
    padding-top: 20px;

    .filter-category {
      position: relative;
      width: 40px;
      height: 30px;
      color: $subtitle-color;
      cursor: pointer;

      &:focus {
        color: $primary-color;
        outline: none;
        border: none;
      }

      .filter-img-container {
        display: inline-block;
      }

      .filter-icon {
        width: 12px;
        height: 12px;
        opacity: 0;
      }

      .filter-icon-active {
        width: 12px;
        height: 12px;
        opacity: 1;
      }
    }
  }
}

.filter-wrapper-open {
  height: 60px;
}

    .circle {
      position: relative;
      left: 49.5%;
      top: -23px;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: top 0.14s linear;
      background-color: $background-color;
      box-shadow: 0px 1px 3px 0 rgba(47, 58, 71, 0.1);
      cursor: pointer;
    
      .drop-down-icon {
        position: absolute;
        top: 10px;
        left: 5px;
        width: 20px;
        height: 20px;
      }
    }

    .circle-open {
      top: 10px;
    }

    @media only screen and (max-width: $large-screen) {
      .filter-wrapper {
        height: 10px;

        .filters-label {
          display: block;
          padding-left: 25px;
          font-size: 14px;
          align-self: center;
        }

        .filter-container {
          position: absolute;
          justify-content: center;
          grid-template-rows: repeat(13, 50px);
          grid-template-columns: repeat(1, 1fr);
          width: 100%;
          height: 0;
          padding-top: 0px;
          background-color: $filter-color;
          z-index: 99999999;

          
          .single-filter-wrapper {
            display: grid;
            align-content: center;
            border-top: 1px solid $secondary-label-color;
          }

          .filter-category {
            padding-left: 10px;
            letter-spacing: 0.9px;
          }
        }

        .filter-container-open {
          display: grid;
        }

        .filter-container-close {
          display: none;
        }
      }

      .filter-wrapper-open {
        height: 652px;
      }

      .circle {
        top: 0;

        .drop-down-icon {
          top: 10px;
        }
      }

      .circle-open {
        top: 639px;
      }
    }