<div class="filter-wrapper" [ngClass]="{
  'filter-wrapper-open': !toggleMenu
}">
  <section class="filter-container" [ngClass]="{
    'filter-container-open': !toggleMenu,
    'filter-container-close': toggleMenu
  }">
    <label class="filters-label">Филтри</label>
    <div #filterCategory *ngFor="let filter of categoryFilters; index as i" class="single-filter-wrapper">
      <div *ngIf="!toggleMenu">
        <label class="filter-category" tabindex="0" (click)="switchCategoryFilter(filter.name)">
          <div class="filter-img-container" *ngIf="currentCategoryFilter | async as catFilter">
            <img class="filter-icon"
              [ngClass]="{'filter-icon-active': catFilter && catFilter.name === filter.name}"
              [src]="categoryFilters[i].icon"
              />
          </div>
          {{filter.name}}
        </label>
      </div>
    </div>
  </section>
  <span class="circle" (click)="showMenu()" [ngClass]="{
    'circle-open': !toggleMenu
  }">
    <img class="drop-down-icon" src="../../../assets/baseline_arrow_drop_down_black_18dp.png">
  </span>
</div>