<nav class="navbar-container">
  <section class="nav-logo-container">
    <img class="nav-logo" src="../../../assets/navbar-logo.png" alt="elemental-navbar-logo" />
  </section>
  <section class="nav-logo-container nav-logo-container-responsive">
    <img class="nav-logo-responsive" src="../../../assets/navbar-logo-mobile.png" alt="elemental-navbar-logo" />
    <div class="date-nav-container nav-date-responsive">
      <span class="nav-town"> София </span>
      <div class="time-container">
        <img class="nav-clock-icon" src="../../../assets/clock-icon.png" alt="elemental-clock-icon" />
        <span class="nav-time">{{ time | date:'HH:mm' }}</span>
      </div>
    </div>
  </section>
  <section class="nav-tv-btns">
    <div class="tv-tab-container">
      <a class="tv-btn" [routerLink]="switchBroadcasting(live)"  >
        НА ЖИВО
      </a>
      <div class="divider"></div>
    </div>
    <div class="tv-tab-container">
      <a class="tv-btn" [routerLink]="switchBroadcasting(record)" >
        НА ЗАПИС
      </a>
      <div class="divider"></div>
    </div>
  </section>
  <section class="nav-menu">
    <app-search class="nav-tooltip-icon"></app-search>
    <span class="tooltip">Search</span>
    <div class="help-nav-container">
      <img
       class="nav-help-icon nav-tooltip-icon"
       src="../../../assets/help-icon.png"
       alt="elemental-help-icon"
       (click)="onClick($event); showMenu('help')"
      />
      <span class="tooltip">Help</span>
      <div class="drop-down-menu" *ngIf="showHelp">
        <a class="drop-down-link">Често задавани въпроси</a>
        <a class="drop-down-link">Политика за поверителнос</a>
        <a class="drop-down-link">Пишете ни</a>
      </div>
    </div>
    <div class="profile-nav-container">
      <img
       class="nav-profile-icon nav-tooltip-icon"
       src="../../../assets/profile-icon.png"
       alt="elemental-profile-icon"
       (click)="onClick($event); showMenu('account')"
      />
      <span class="tooltip">Account</span>
      <div class="drop-down-menu" *ngIf="showAccount">
        <a class="drop-down-link">Потребител</a>
        <span class="user-acc">{{ currentUser }}</span>
        <div class="drop-down-divider"></div>
        <a class="drop-down-link">Акаунт</a>
        <a class="drop-down-link">Абонаменти</a>
        <a class="drop-down-link">Общи условия</a>
        <div class="drop-down-divider"></div>
        <a class="drop-down-link" (click)="logout()">&#10154; Изход</a>
      </div>
    </div>
    <div class="date-nav-container">
      <span class="nav-town"> София </span>
      <div class="time-container">
        <img class="nav-clock-icon" src="../../../assets/clock-icon.png" alt="elemental-clock-icon" />
        <span class="nav-time">{{ time | date:'HH:mm' }}</span>
      </div>
    </div>
  </section>
  <section class="responsive-subnav">
    <div class="mobile-divider"></div>
    <section class="nav-tv-btns nav-tv-btns-responsive">
      <div class="tv-tab-container">
        <a class="tv-btn" [routerLink]="switchBroadcasting(live)">
          НА ЖИВО
        </a>
        <div class="divider"></div>
      </div>
      <div class="tv-tab-container">
        <a class="tv-btn" [routerLink]="switchBroadcasting(record)">
          НА ЗАПИС
        </a>
        <div class="divider"></div>
      </div>
    </section>
  </section>
</nav>