@import '../../../global-styles';

.navbar-container {
  display: grid;
  grid-template-columns: 144px 251px 151px;
  grid-gap: 0 655px;
  width: 100%;
  max-width: 1854px;
  height: 100%;
  max-height: 36px;
  padding: $secondary-padding $tertiary-padding;
  user-select: none;
}

.nav-logo {
  width: 100%;
  height: 100%;
  max-height: 33px;
}

.nav-logo-container {
  display: grid;
  grid-template-columns: 144px;
  grid-template-rows: 33px;
  width: 100%;
  max-width: 144px;
  height: 100%;
  max-height: 33px;
}

.nav-tv-btns {
  display: grid;
  grid-template-columns: 103px 112px;
  grid-gap: 0 36px;

  .tv-tab-container {
    display: grid;
    justify-content: center;
    grid-gap: 14px;
    padding-top: 8px;
  }
}

.tv-btn {
  align-self: center;
  padding: 0;
  background-color: $primary-label-color;
  color: $offset-color;
  font-size: $body-text-size;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    font-family: $onFocusFont;
    font-weight: $bold;
    color: $primary-color;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &:focus ~ .divider {
    width: 110px;
    visibility: visible;
  }
}

.divider {
  visibility: hidden;
  width: 0;
  height: 0;
  margin-left: -20px;
  border: 1px solid $primary-color;;
  transition: width 0.2s;
}

.nav-menu {
  display: grid;
  grid-template-columns: 16px 18px 25px 43px;
  grid-gap: 16px;
  align-items: center;

  .nav-help-icon {
    width: 18px;
    height: 18px;
  }

  .nav-profile-icon {
    width: 25px;
    height: 25px;
  }
}

.nav-town {
  font-size: 12px;
  color: $primary-color;
}

  .drop-down-menu {
    position: absolute;
    top: 60px;
    right: 85px;
    display: grid;
    grid-gap: 8px;
    align-content: center;
    padding: 10px 0;
    box-shadow: 1px 0 9px 0 rgba(47, 58, 71, 0.1);
    background-color: white;
    z-index: 99;

    .drop-down-divider {
      height: 1px;
      background-color: $divider-color; 
    }

    .drop-down-link {
      height: 26px;
      padding: 5px 18px 0px 18px;
      font-size: 16px;
      cursor: pointer;
      
      &:hover {
        background-color: $divider-color;
      }
    }
  }

  .user-acc {
    padding: 5px 18px 0px 18px;
    font-size: 12px;
    color: $tertiary-color;
  }

.date-nav-container {
  display: grid;
  grid-gap: 2px;

  .time-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0px 1px;

    .nav-clock-icon {
      align-self: center;
      width: 9px;
      height: 9px;
    }

    .nav-time {
      font-size: 11px;
      color: $primary-color;
    }
  }
}

.nav-tooltip-icon {
  &:hover ~ .tooltip {
    visibility: visible;
  }
}

.tooltip {
  position: absolute;
  top: 25px;
  right: 200px;
  font-size: 12px;
  visibility: hidden;
}

.responsive-navbar-container,
.mobile-navigation {
visibility: hidden;
}

.nav-logo-container-responsive,
.nav-tv-btns-responsive,
.responsive-subnav {
  display: none;
}

@media only screen and (max-width: $large-screen) {
  .navbar-container {
    grid-gap: 0 207px;
    max-width: 960px;
  }
}

@media only screen and (max-width: $medium-screen) {
  .navbar-container {
    display: grid;
    grid-template-columns: 97px 251px 107px;
    grid-gap: 0 130px;
    width: 100%;
    max-width: 702px;
    height: 100%;
    max-height: 36px;
    padding: $secondary-padding $tertiary-padding;
    user-select: none;
  }
  
  .date-nav-container {
    display: none;
  }

  .nav-date-responsive {
    display: grid;
  }
  
  .nav-logo-container {
    display: none;
  }

  .nav-logo-container-responsive {
    display: grid;
    grid-template-columns: 27px 43px;
    grid-gap: 27px;
  }

  .nav-logo-responsive {
    align-self: center;
    width: 27px;
    height: 27px;
  }

  .drop-down-menu {
    right: 40px;
  }

  .tooltip {
    right: 150px;
  }
}

@media only screen and (max-width: $small-screen) {
  .navbar-container {
    display: grid;
    grid-template-columns: 97px 93px;
    grid-template-rows: 61px 49px;
    grid-gap: 0 130px;
    width: 100%;
    max-width: 320px;
    height: 100%;
    max-height: 135px;
    padding: 0 25px;
    user-select: none;
  }

  .responsive-subnav {
    display: grid;
  }

  .nav-tv-btns {
    display: none;
  }

  .nav-tv-btns-responsive {
    display: grid;
    justify-content: center;
  }

  .nav-logo-container-responsive {
    padding-top: 10px;
  }

  .mobile-divider {
    width: 360px;
    height: 1px;
    border-bottom: 1px solid $divider-color;
    margin-left: -20px;
  }

  .drop-down-menu {
    top: 70px;
  }

  .tooltip {
    top: 30px;
  }
}