<div (click)="onClick($event)" [ngClass]="{
  'jw-modal': showModal,
  'jw-modal-closed': !showModal
}">
  <div class="jw-modal-body" (click)="test($event)">
    <app-account-header (showHide)="showAccountModal($event)"></app-account-header>
  </div>
</div>
<div
[ngClass]="{
  'jw-modal-background': showModal,
  '.jw-modal-background-closed': !showModal
}"></div>