@import '../../../../global-styles.scss';

.subcategory-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, auto);
  grid-gap: 20px;
  width: 100%;
  padding-top: 20px;
  background-color: $background-color;

  .subcategory {
    padding-bottom: 50px;
  }
}

.subcategory-header {
  background-color: $background-color;

  .navigation-header {
    position: relative;
    display: grid;

    .back-arrow {
      position: absolute;
      top: 25px;
      left: 122px;
      width: 35px;
      height: 30px;
    }

    .redirect-link {
      padding: 30px 0 0 155px;
      font-size: $secondary-heading-size;
      font-weight: $bold;
      outline: none;
      color: black;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: $primary-color;
      }
    }
  }

  .current-location {
    margin: 0;
    padding-top: 60px;
    padding-left: 165px;
    font-size: $tertiary-heading-size;
    font-weight: $bold;
  }
}

@media only screen and (max-width: $large-screen) {
  .subcategory-wrapper {
    grid-template-columns: repeat(4, auto);
    grid-gap: 26px;
  }

  .subcategory-header {
    .navigation-header {
      .back-arrow {
        left: 23px;
      }

      .redirect-link {
        padding: 30px 0 15px 55px;
        font-size: $secondary-heading-size; //17
      }
    }
    
    .current-location {
      font-size: $tertiary-heading-size; //12
      padding-top: 30px;
      padding-left: 55px;
    }
  }
}

@media only screen and (max-width: $small-screen) {
  .subcategory-wrapper {
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
  }

  .subcategory-header {
    .navigation-header {
      .back-arrow {
        left: 0;
      }

      .redirect-link {
        padding: 30px 0 0 35px;
      }
    }
    
    .current-location {
      padding-left: 12px;
    }
  }
}
