<div class="subcategory-header">
  <div class="navigation-header">
    <img src="../../../assets/baseline_keyboard_arrow_left_black_18dp.png" class="back-arrow"/>
    <a class="redirect-link" [routerLink]="['/record/', backToRecord]">{{ backTo }}</a>
  </div>
    <p class="current-location">{{ currentSection }}</p>
</div>
<div class="subcategory-wrapper">
  <div *ngFor="let record of categoryRecords" class="subcategory">
    <app-record [singleCategoryRecord]="record">
    </app-record>
  </div>
</div>