<div class="header-container">
  <div class="header-topic">Акаунт</div>
  <div class="close-modal" (click)="closeModal(); changeState()">
    <img src="../../../assets/baseline_close_black_18dp.png" />
  </div>
</div>