.header-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

  .header-topic {
    font-size: 26px;
    font-weight: bold;
    color: black;
  }

  .close-modal {
    display: grid;
    cursor: pointer;

    img {
      align-self: center;
    }
  }
}