<section class="record-wrapper">
  <div class="record-img-container">
    <img class="record-img" [src]="imgUrl" alt="record-image"/>
    <img class="play-btn" [src]="playBtnImg" alt="play-button-image"/>
    <img  class="logo-img" [src]="logoUrl" alt="record-logo"/>
  </div>
  <div class="record-title">
    {{ trimContent(singleCategoryRecord.title, trimTitle) }} 
    <span class="tooltip">{{ singleCategoryRecord.title }}</span>
  </div>
  <span class="record-timespan">{{ beginDate | date:'M LLLL, hh:mm' }} - {{ endDate | date:'hh:mm' }}</span>
</section>