@import '../../../../global-styles';

.record-wrapper {
  display: grid;
  grid-template-rows: 117px 15px 14px;
  grid-gap: 10px;
  width: 207px;

  .record-img-container {
    display: flex;
    position: relative;

    .logo-img {
      position: relative;
      top: 95px;
      left: -215px;
      width: 100%;
      max-width: 75px;
      height: 20px;
    }

    .play-btn {
      position: absolute;
      top: 47%;
      left: 41%;
      visibility: hidden;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .record-img {
      width: 207px;
      cursor: pointer;
    }

    &:hover > .play-btn {
      visibility: visible;
    }
  }

  .record-title {
    font-size: $tertiary-heading-size;
    font-weight: $bold;
    position: relative;

    .tooltip {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 10;
      width: 197px;
      height: auto;
      visibility: hidden;
      margin-left: -105px;
      padding: 5px 5px;
      color: $primary-label-color;
      text-align: center;
      background-color: $offset-color;
      border-radius: 6px;
    }

    &:hover > .tooltip {    
        visibility: visible;
    }
  }

  .record-timespan {
    font-size: 14px;
    color: $subtitle-color;
  }
}

@media only screen and (max-width: $small-screen) {
  .record-wrapper {
    grid-template-rows: 86px 13px 12px;
    grid-gap: 5px;
    width: 160px;

    .record-img-container {
      display: block;

      .logo-img {
        top: -25px;
        left: -10px;
      }

      .tooltip {
        display: none;
      }

      .record-img {
        width: 160px;
      }
    }

    .record-title {
      font-size: 13px;
    }

    .record-timespan {
      font-size: 12px;
    }
  }
}