// COLORS
$primary-color:#3588cf;
$secondary-color:#07adad;
$offset-color:#212121;
$error-color:#ff4157;
$tertiary-color:#424242;
$subtitle-color:#757575;
$hint-color:#a1a0a0;
$divider-color:#ececec;
$background-color:#f5f5f5;
$filter-color:#eaeff5;
$primary-label-color:#fefefe;
$secondary-label-color:#c7c7c7;
$progress-color: #07adad;

// TYPOGRAPHY
$globalFont:'Montserrat', sans-serif;
$onFocusFont: 'Ubuntu', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
$primary-heading-size: 26px;
$secondary-heading-size: 20px;
$tertiary-heading-size: 16px;
$subtitle-size: 14px;
$hint-primary-size: 12px;
$hint-secondary-size: 11px;
$body-text-size: 14px;

// STYLES
$logo-max-h: 16px;
$logo-max-w: 74px;
$primary-padding: 16px;
$secondary-padding: 12px;
$tertiary-padding: 32px;

// BREAKPOINTS
$large-screen: 1024px;
$medium-screen: 768px;
$small-screen: 520px;
