<div *ngIf="predefined; else notPredefined ">
  <app-filter (filterForParent)="getFilter($event)"></app-filter>
  <div *ngFor="let channel of filteredLiveChannels">
    <app-individual-on-live
      [channelDescription]="channel"
    >
    </app-individual-on-live>
  </div>

  <div *ngIf="!filteredLiveChannels.length">
    <img class="no-info" src="../../../assets/layer-0.png" >
  </div>
</div>

<ng-template #notPredefined>
  <app-filter (filterForParent)="getFilter($event)"></app-filter>
  <div *ngFor="let channel of liveChannels | async">
    <app-individual-on-live
      [channelDescription]="channel"
    >
    </app-individual-on-live>
  </div>
</ng-template>