@import '../../../global-styles';

.header-container {
  position: relative;
  display: grid;

  .back-arrow {
    position: absolute;
    top: 25px;
    left: 122px;
    width: 35px;
    height: 30px;
  }

  .go-back-to {
    margin: 0;
    padding: 30px 0 30px 155px;
    font-size: 20px;
    font-weight: $bold;
    background-color: $background-color;
    outline: none;
  
    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
}

.records-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  user-select: none;
  padding-top: 30px;
  background-color: $background-color;
}

@media only screen and (max-width: $large-screen) {
  .header-container {

    .back-arrow {
      left: 23px;
    }
    .go-back-to {
      padding: 30px 0 15px 55px;
    }
  }
}

@media only screen and (max-width: $small-screen) {
  .header-container {

    .back-arrow {
      left: 0;
    }

    .go-back-to {
      padding: 30px 0 0 35px;
    }
  }
}