  <div *ngIf="!toRander; else subCategory">
    <div *ngFor="let record of allRecords; index as i" class="records-wrapper">
      <app-category class="records-content"
        [categoryRecords]="record"
        [id]="i"
      >
      </app-category>
    </div>
  </div>

  <ng-template #subCategory>
    <div class="header-container">
      <img src="../../../assets/baseline_keyboard_arrow_left_black_18dp.png" class="back-arrow"/>
      <span class="go-back-to" [routerLink]="['/tv/record/:id']">{{ backTo }}</span>
    </div>
    <div *ngFor="let record of allSubcategoryRecords; index as i" class="records-wrapper">
      <app-category class="records-content"
        [categoryRecords]="record"
        [isSubCat]="isSubCat"
        [subId]="i"
        [backToRecord]="recordSectionId"
        [subCategoryIdArray]="subcategoriesIdArray"
      >
      </app-category>
    </div>
  </ng-template>